/* --------------------------------------------------------------
configurações do gerais 
-------------------------------------------------------------- */
footer, body, h1, h2, h3, h4, h5, h6, p, section, article, main, ul, li, div {
    margin: 0;
    padding: 0;
}
main {
    margin-top: 100px;
}

img{
    width: 100%;
}

@font-face {
    font-family: 'PoetsenOne-Regular';
    src: url('fontes/PoetsenOne-Regular.ttf');
}

/* --------------------------------------------------------------
fim das configurações do gerais 
-------------------------------------------------------------- */

/* --------------------------------------------------------------
configurações do menu Desktop
-------------------------------------------------------------- */
.div-topo {
    background-color: white;
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row-reverse;
    z-index:1;
}
.logo {
    width: 225px;
    position: absolute;
    left: 10px;
}
.lista-topo {
    margin: auto;
}
.lista-topo > ul {
    display: flex;
    flex-direction: row;
}
.lista-topo > ul >li {
    margin: 10px 50px 10px 50px;
    list-style: none;
}
/* --------------------------------------------------------------
fim das configurações do menu Desktop
-------------------------------------------------------------- */
/* --------------------------------------------------------------
configurações do rodapé Desktop
-------------------------------------------------------------- */
.div-rodape {
    background-color: #129454;
    width: 100%;
    display: flex;
    height: 300px;
    bottom: 0px;
    left: 0px;
    flex-wrap: nowrap;
}
.div-rodape-itens {
    height: 300px;
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.rodape-div-meio{
    border-right: 3px dashed white;
    border-left: 3px dashed white;
}
.rodape-paginas{
    color:white;
    list-style-type: none;
}
.div-rodape-itens {
    color:white;
}
.rodape-div-meio img {
    width: 45%;
}
/* --------------------------------------------------------------
Fim das configurações do rodapé Desktop
-------------------------------------------------------------- */


/* --------------------------------------------------------------
configurações do banner Desktop
-------------------------------------------------------------- */
.div-banner {
    width: 100%;
    height: 28em;
}

.img-banner {
    width: 100%;
    height: 30vw;
    background-image: url(imagens/banner.png);
    background-size: cover;
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-texto {
    font-family: 'PoetsenOne-Regular';
    font-size: 1.3em;
    width: 50vw;
    margin-bottom: 5em;
    margin-top: 4em;
    
}
.banner-texto h1 {
    margin-bottom: 1em;
   text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
}
/* --------------------------------------------------------------
fim configurações do banner Desktop
-------------------------------------------------------------- */



