/* Associação pelo NOME DO ELEMENTO */
h1 {
    color:rgb(46, 151, 20);
}
h2 { 
    color:blueviolet
}
h3{
    color:darkgreen
}
/* Associação pelo ID DO ELEMENTO */
#tit_1{
    font-size: 52px
}
#tit_2{
    font-size: 48px
}
#tit_3{
    font-size: 34px
}

/* Associação pela CLASSE DO ELEMENTO */
.contato {
    font font-family: arial;

}
   